img {
    max-width: 100%;
    height: auto;
}

.postimg {
    width: 50rem;
    height: 50rem;
}

#user-posts-container {
    margin-top: 5rem;
}

#user-names-container {
    margin-top: 5rem;
}

.comment-button {
    margin-top: 0.25rem;
    margin-bottom: 2rem;
}